body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav, .header, .about{
    padding: 2%  10% 0 10%;
}

nav {
    display: flex;
    direction: rtl;
    justify-content: space-between;
}
.logo {
    display: inline-flex;
    direction: rtl;
    align-items: center;
}
.logo img {
    width: 30px;
    height: auto;
}
.logo .text {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}
nav > ul {
    list-style: none;
}
nav > ul > li {
    display: inline-block;
    padding-left: 10px;
}
nav > ul > li > a {
    display: block;
    text-decoration: none;
    color: rgb(59, 59, 59);
}
nav > button {
    color: rgb(23,148,255);
    background: rgb(230,240,255);
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: bold;
    border:none;
    border-radius: 10px;
}
.burger {
    display: none;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(23,148,255);
    margin: 5px;
}
/* HEADER SECTION*/
.header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.header-img, .header-text-bt {
    width: 45%;
    direction: rtl;
}
.header button {
    width: 25%;
    height: 3rem;
}
.header-download-bt {
    color: white;
    background-color: rgb(23,148,255);
    border-color: rgb(23,148,255);
    border-radius: 10px;
}
.header-register-bt {
    color: black;
    background-color: white;
    border:2px solid rgb(23,148,255);
    border-radius: 10px;
}
/* ABOUT SECTION */
.about {
    padding-top: 5rem;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 3rem;
}
.about-title {
    color: rgb(23,148,255);
    padding-right: 5px;
    border-right: 5px solid rgb(0,222,154);
}
.about-text-icons {
    width: 49%;
    direction: rtl;
}
.about-img {
    width: 30%;
    height: auto;
    border-radius: 3rem;
}
.about-icon-img {
    width: 2rem;
    padding: 2.52rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(46, 57, 66, 0.3);
}
.about-icon {
    font-size: 0.7rem;
    text-align: center;
}
.about-icons {
display: flex;
column-gap: 2rem;
padding-top: 5rem;
justify-content: space-between;
}
/* FEATURES SECTION */

@media screen and (max-width: 1024px)
{
    nav > button {
        display: none;
    }
}

@media screen and (max-width: 768px)
{
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 93vh;
        top: 10vh;
        background-color: rgb(230,240,255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        transform: translateX(-100%);
        transition: 0.5s ease-in;
    }
    .nav-links > li {
        opacity: 100;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .nav-active {
        transform: translateX(0%);
    }
    .header {

        flex-direction: column-reverse;
    }
    .header button{
        width: 100%;
        align-items: center;
        margin-bottom: 1rem;
    }
    .about {
        flex-direction: column;
        align-items: center;
    }
    .about-img {
        width: 60%;
    }
    .about-icons {
        display: none;
    }

}
