body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    display: inline-flex;
    direction: rtl;
}
.logo img {
    width: 30px;
    height: auto;
}
.logo .text {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}