body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav, .header, .about, .features, .download{

    padding: 2%  10% 0 10%;
    margin-bottom: 5%;
}
nav {
    display: flex;
    direction: rtl;
    justify-content: space-between;
}
.logo {
    display: inline-flex;
    direction: rtl;
    align-items: center;
}
.logo img {
    width: 30px;
    height: auto;
}
.logo .text {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}
nav > ul {
    list-style: none;
}
nav > ul > li {
    display: inline-block;
    padding-left: 10px;
}
nav > ul > li > a {
    display: block;
    text-decoration: none;
    color: rgb(59, 59, 59);
}
nav > button {
    color: rgb(23,148,255);
    background: rgb(230,240,255);
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: bold;
    border:none;
    border-radius: 10px;
}
.burger {
    display: none;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(23,148,255);
    margin: 5px;
}
/* HEADER SECTION*/
.header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.header-img {
    width: 40%;
    direction: rtl;
}
.header-text-bt {
    width: 60%;
    direction: rtl;
}
.header button {
    width: 25%;
    height: 3rem;
}
.header-download-bt {
    color: white;
    background-color: rgb(23,148,255);
    border-color: rgb(23,148,255);
    border-radius: 10px;
}
.header-register-bt {
    color: black;
    background-color: white;
    border:2px solid rgb(23,148,255);
    border-radius: 10px;
}
/* ABOUT SECTION */
.about {
    padding-top: 5rem;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 3rem;
}
.about-title {
    color: rgb(23,148,255);
    padding-right: 5px;
    border-right: 5px solid rgb(0,222,154);
}
.about-text-icons {
    direction: rtl;
}
.about-img {
    width: 30%;
    height: auto;
    border-radius: 3rem;
}
.about-icon-img {
    width: 2rem;
    padding: 2.52rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(46, 57, 66, 0.3);
}
.about-icon {
    font-size: 0.7rem;
    text-align: center;
}
.about-icons {
display: flex;
column-gap: 2rem;
padding-top: 5rem;
justify-content: space-between;
}
/* FEATURES SECTION */
.features {
}
.features-title {
    direction: rtl;
    color: rgb(23,148,255);
    padding-right: 5px;
    border-right: 5px solid rgb(0,222,154);
}
.features-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas: 
    "f-desc f-desc f-desc f-desc f-icons f-icons"
    " f-stages f-stages f-stages f-stages f-icons f-icons";
    gap: 3rem;
}
.features-description {
    grid-area: f-desc;
    direction: rtl;
    display: flex;
    flex-direction: column;

}
.features-stages {
    grid-area: f-stages;
    direction: rtl;
    display: flex;
    flex-direction: column;

}
.features-icons {
    grid-area: f-icons;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 0.8rem;
}
.features-icon {
    display: flex;
    width: 8rem;
    height: 8rem;
    border-radius: 20%;
    box-shadow: 0 0 5px rgba(23,148,255, 0.3);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.8rem;
}
.features-icon img {
    filter: grayscale(100%);
    width: 3rem;
    height: 3rem;
}
.features-icon-active img {
    filter: grayscale(0%);
}
.features-stage img {
    width: 0.8rem;
    height: 0.8rem;
    background-color: rgb(230,240,255);
    padding: 0.4rem;
    border-radius: 50%;
}
.features-stage .head {
    display: flex;
    align-items: center;
    gap: 0rem 1rem;
}
.features-stage .body {
    padding-right: 5rem;
    margin-right: 0.7rem;
    border-right: 2px solid rgb(230,240,255);
    line-height: 1rem;
    font-size: 0.8rem;
}
.features-stage  {
    display: flex;
    flex-direction: column;
    align-items: end;
    line-height: 2px;
}
.feature3 .body {
    border-right: none;
}
.feature3 img {
    background-color: rgb(0,222,154);
}
/* DOWNLOAD SECTION */
.download {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "dl-img dl-title"
    "dl-img dl-input"
    "dl-img dl-icons";
    background-color: rgb(9,141,255);
}
.download-img {
    grid-area: dl-img;

}
.download-img img{
    width: 300px;
    height: auto;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
.download-title {
    grid-area: dl-title;
    color: white;
    direction: rtl;
    font-size: 1.5rem;
    /* text-align: center; */
    vertical-align: center;
}
.download-input {
    grid-area: dl-input;
    display: flex;
    justify-content: center;
}
.download-input-container {
    display: flex;
    background-color: white;
    width: 70%;
    height: 40%;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    direction: ltr;
}
.download-input-container input {
    border: none;
    width: 70%;
    height: 80%;
}
.download-input-container input::placeholder {
    direction: rtl;
    text-align: center;
    font-size: 1rem;
}
.download-input-container input:focus {
    outline: none;
    direction: rtl;
    font-size: 1rem;
}
.download-input-container button {
    width: 17%;
    height: 70%;
    background-color: rgb(9,141,255);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}
.download-icons {
    grid-area: dl-icons;
    display: flex;
    justify-content: space-around;
    /* width: 50%; */
}
.download-icon {
    cursor: pointer;
    background-color: rgb(35, 97, 181);
    width: 30%;
    height: 60px;
    border-radius: 10px;
    color: white;
}
.sib-app {
    font-size: 0.7rem;
    direction: rtl;
    display: flex;
    align-content: center;
    justify-content: center;
    gap:1rem
}
.bazar-icon {
    display: flex;
    direction: rtl;
    gap: 1rem;
    align-items: flex-end;
    justify-content: center;
}
.bazar-icon img{
    width: 2.5rem;
}
.android-icon {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    font-size: 1rem ;
}
.android-icon img{
    width: 1rem;
}
@media screen and (max-width: 1024px)
{
    nav > button {
        display: none;
    }
}
@media screen and (max-width: 768px)
{
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 93vh;
        top: 10vh;
        background-color: rgb(230,240,255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        transform: translateX(-100%);
        transition: 0.5s ease-in;
    }
    .nav-links > li {
        opacity: 100;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .nav-active {
        transform: translateX(0%);
    }
    .header {
        flex-direction: column-reverse;
    }
    .header button{
        width: 100%;
        align-items: center;
        margin-bottom: 1rem;
    }
    .header-img {
        width: 60%;
        direction: rtl;
    }
    .about {
        flex-direction: column;
        align-items: center;
    }
    .about-img {
        width: 60%;
    }
    .about-icons {
        display: none;
    }
    .features-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 1fr;
        grid-template-areas: 
        "f-icons"
        "f-desc"
        "f-stages";
        gap: 1rem;
    }
    .features-description h4{
        margin-bottom: 0px;
    }
    .download {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 0.4fr 0.5fr 1.5fr;
        grid-template-areas:
        "dl-title"
        "dl-input"
        "dl-icons"
        "dl-img";
        background-color: rgb(9,141,255);
    }
    .download-img img{
        width: 70%;
    }
    .download-img{
        display: flex;
        justify-self: center;
        padding-left: 100px;
    }
    .download-icon {
        width: 12rem;
    }
    .download-icons {
        flex-direction: column;
        justify-self: center;
        gap: 1rem;
        margin-bottom: 3rem;
    }
}
